@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*! Reset */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Roboto", sans-serif;
}

li {
     list-style-type: none;
}

a {
     text-decoration: none;
}

input {
     border: none;
     outline: none;
}

.container {
     width: 90%;
     margin: 0 auto;
}

/*! Component */

.flex__center {
     display: flex;
     justify-content: center;
     align-items: center;
}

.flex__space-between {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.flex__space-evenly {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}

.d__none {
     display: none;
}

.d__active {
     display: block;
}

.rotate {
     transform: rotate(180deg);
     transition: all .3s ease-in-out;
}

.fa-caret-up {
     transition: transform .3s ease-in-out;
}

.main__content-form.d__active {
     display: block;
}

/*? Index Page */


.pagination {
     width: 100%;
     display: flex;
     justify-content: center;
     padding-top: 50px;
}

.pagination a {
     text-decoration: none;
     color: #000;
     float: left;
     padding: 8px 16px;
}

.pagination a.active {
     background-color: green;
     color: #FFF;
     border-radius: 5px;
}

.pagination a:hover:not(.active) {
     background-color: #DDD;
     border-radius: 5px;
}

.pagination a:first-child {
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
}

.pagination a:last-child {
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
}

.main__content-form {
     padding-top: 50px;
     display: none;
}

.main__content-form form {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
}

.main__content-form form>label {
     display: flex;
     flex-direction: column;
     position: relative;
}

.main__content-form form>label ul>li {
     background-color: #fff;
     font-size: 14px;
     color: #797676;
     cursor: pointer;
     padding: 10px;
     border-radius: 4px;
     transition: all .3s ease-in-out;
}

.main__content-form form>label ul>li:hover {
     background-color: #e3e2e2;
}

.main__content-form form>label>p {
     font-size: 20px;
     font-weight: 700;
     color: #797676;
     padding-bottom: 10px;
}

.main__content-form form>label>input {
     width: 265px;
     padding: 10px 20px;
     border-radius: 7px;
     margin: 10px 0;
}

.main__content-form form>label>i {
     position: absolute;
     left: 240px;
     top: 54px;
     color: #797676;
     font-size: 16px;
}

.main__content-form form>.form-checbox {
     display: flex;
     gap: 30px;
     width: 420px;
     margin-top: 40px;
     padding: 20px;
}

.main__content-form form>.form-checbox>ul {
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.main__content-form form>.form-checbox>ul>label {
     background-color: transparent;
     display: flex;
     gap: 10px;
     font-size: 16px;
     color: #797676;
     font-size: 15px;
}

.main__content-form form>.form-checbox>p {
     font-size: 20px;
     font-weight: 700;
     color: #797676;
}




/*! Navbar */
.navbar {
     padding: 20px 0;
     position: fixed;
     top: 0;
     z-index: 3;
     left: 0;
     width: 100%;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
     background-color: #fff;
}

.nav__list {
     gap: 30px;
}


.nav__link {
     font-size: 17px;
     color: #666;
}

.nav__profil-content {
     gap: 10px;
}

.nav__profil-vacant {
     padding: 10px;
     background-color: #ebe2e2;
     color: #666;
     font-size: 17px;
     border-radius: 7px;
     transition: all .5s;
     font-weight: 700;
}

.nav__profil-vacant:hover {
     background-color: green;
     color: #fff;
}

.nav__profil-vacant span {
     color: #000;
     font-size: 15px;
     padding-right: 5px;
}

.nav__profil-user {
     padding: 8px 10px;
     border-radius: 50%;
     background-color: #ebe4e4;
     font-size: 18px;
     color: #666;
}



.sidebar {
     position: fixed;
     top: 0;
     left: -250px;
     width: 250px;
     height: 100%;
     background-color: #fff;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
     transition: left 0.3s ease;
     z-index: 10;
     padding-top: 60px;
}

.sidebar__list {
     list-style-type: none;
     padding: 0;
}

.sidebar__item {
     padding: 15px 20px;
     border-bottom: 1px solid #ddd;
}

.sidebar__link {
     text-decoration: none;
     color: #666;
     font-size: 17px;
     font-weight: 700;
}

.sidebar-open {
     left: 0;
}

.nav__menu {
     cursor: pointer;
}



































/*! Main */
.filter-icon {
     color: #666;
}

.main__content-filter {
     gap: 15px;
}


.main__content-title {
     padding: 20px;
     border-radius: 10px;
     background-color: #eff2f2;
}

.main__content-title.main__content-title-accardion {
     width: 80%;
     margin: 0 auto;
}

.main__content-title.main__content-title-accardion>.main__content-form form>label {
     margin: 20px 0;
}

.main__content-heading {
     color: #797676;
}

.main__content-search {
     border: none;
     outline: none;
     background-color: #fff;
     padding: 8px 16px;
     border-radius: 7px;
}

.main__content-search .fa-magnifying-glass {
     padding-left: 5px;
     color: #666;
}

.company__heading {
     font-size: 45px;
     padding-right: 10px;
}

.main__content-search-input {
     outline: none;
     border: none;
     padding: 10px;
     width: 400px;
     font-size: 17px;
     border-radius: 10px;
}


.main__content-icon {
     color: #666;
     font-size: 17px;
     cursor: pointer;
}

.section__card-title-text {
     color: #666;
     font-size: 17px;
}

.color-number {
     color: rgb(26, 23, 23);
     font-size: 18px;
}

.section__card-title {
     padding: 40px 0;
}

.section__card-title-sort {
     gap: 10px;
}

.filter__content-sort-header>p {
     font-size: 16px;
}

.section__card-title-sort>p {
     color: #666;
     font-size: 17px;
}

.d-none {
     display: none;
}


.section__card-item {
     padding: 20px;
     border-radius: 7px;
     margin-top: 20px;
     cursor: pointer;
}

.section__card-main-location-text>h4 {
     padding-top: 10px;
     margin-right: 4px;
}

.section__card-img {
     width: 280px;
     display: flex;
     justify-content: flex-start;
}

.section__card-icon {
     font-size: 40px;
     color: #797676;
     margin-right: 20px;
}

.card__work-name {
     font-size: 20px;
     font-weight: 500;
     color: #000;
}

.section__card-main-time-title {
     color: green;
     font-size: 17px;
     font-family: "Roboto", sans-serif;
}

.section__card-main-time-salary {
     color: #000;
     font-size: 16px;
     padding-top: 8px;
     font-weight: 500;
}

.section__card-main-time-salary span {
     color: #797676;
}

.section__card-main-location-title {
     color: #797676;
     font-size: 17px;
}

.section__card-main-share {
     padding: 8px 11px;
     border: 1px solid #797676;
     color: #797676;
     margin-right: 10px;
     border-radius: 50%;
}

.section__card-main-btn {
     background-color: green;
     padding: 10px 22px;
     color: #fff;
     text-transform: uppercase;
     border-radius: 12px;
}


.filter__btn {
     padding: 20px 0;
}

.filter__btn>a {
     background-color: #18a018;
     padding: 10px 20px;
     color: #fff;
     border-radius: 7px;
}





.filter__content-sort-content {
     background-color: var(--color-light);
     position: absolute;
     z-index: 1;
     margin-top: 6px;
     border-radius: 10px;
}

.filter__content-sort-header {
     width: 120px;
     cursor: pointer;
     background-color: #f3f1f1;
     padding: 5px 10px;
     border-radius: 7px;
     color: #000;
     font-family: "Roboto", sans-serif;
}

.filter__content-sort-header i {
     font-size: 13px;
}

.filter-active {
     background-color: #f3f1f1;
     width: 120px;
}

.filter__content-sort-content p {
     color: #000;
     font-family: "Roboto", sans-serif;
     cursor: pointer;
     font-size: 14px;
     font-weight: 500;
     line-height: 23px;
     padding: 5px 10px;
     margin-top: 4px;
     border-radius: 4px 4px 2px 2px;
}

.filter__content-sort-content p:hover {
     background-color: #f3f1f1;
}

.section__card-list.section__card-list-company.section__card-content-list-slider {
     display: block;
     margin-top: 90px;
}

.section__card-list.section__card-list-company .section__card-list-slider {
     display: flex;
     gap: 40px;
     margin-bottom: 90px;
}

.section__card-list-slider>.section__card-item.section__card-item-company {
     width: 200px;
}

.slider__card-link>.company-description>span {
     font-size: 20px;
     width: 50px;
     height: 50px;
}

.slider__card-link>.company-description>h4 {
     font-size: 16px;
}

.slider__card-link>.company-description>h5 {
     font-size: 14px;
}

.slider__card-link~.company-footer>a {
     width: 100%;
     font-size: 14px;
     border: none !important;
}

.slider__card-link~.company-footer {
     margin-top: 10px;
}

.slick-prev.slick-arrow {
     z-index: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all .3s ease-in-out;
     background-color: #939191;
     padding: 18px;
     margin-top: 27px;
     margin-left: 7px;
     border-radius: 50%;
     color: #fff;
}

.slick-prev.slick-arrow:hover {
     background-color: #333;
     padding: 18px;
     margin-top: 27px;
     margin-left: 7px;
     border-radius: 50%;
     color: #fff;
}


.slick-next.slick-arrow {
     z-index: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all .3s ease-in-out;
     background-color: #939191;
     padding: 18px;
     margin-top: 27px;
     margin-right: 32px;
     border-radius: 50%;
     color: #fff;
}

.slick-next.slick-arrow:hover {
     background-color: #333;
     padding: 18px;
     margin-top: 27px;
     margin-left: 7px;
     border-radius: 50%;
     color: #fff;
}
.category-container {
     display: flex;
     gap: 20px;
     padding: 40px 20px;
     flex-wrap: wrap;
}
.category-container>.slick-next.slick-arrow {
     background-color: #939191;
     padding: 18px;
     margin-top: 7px;
     margin-right: 55px;
     border-radius: 50%;
     color: #fff;
}

.category-container>.slick-prev.slick-arrow {
     background-color: #939191;
     padding: 18px;
     margin-top: 7px;
     margin-left: 25px;
     border-radius: 50%;
     color: #fff;
}


.slick-slide {
     margin-right: 30px;
}



.slick-prev:before,
.slick-next:before {
     font-family: 'slick';
     font-size: 24px;
     line-height: 1;
     margin-top: 3px;
     opacity: .75;
     color: white;
}

.blog-container {
     margin-top: 90px;
}

.blog__content {
     display: flex;
     justify-content: space-between;
     gap: 20px;
     padding: 40px 20px;
     flex-wrap: wrap;
}

.blog-card {
     background-color: #fff;
     border-radius: 8px;
     overflow: hidden;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
     transition: box-shadow 0.3s ease;
     width: 390px;
}

.blog-card:hover {
     box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog-image {
     width: 100%;
     height: 180px;
     object-fit: cover;
}

.blog-content {
     padding: 20px;
     text-align: center;
}

.blog-content h2 {
     font-size: 18px;
     font-weight: 500;
     margin-bottom: 10px;
     color: #333;
}

.blog-content p {
     font-size: 14px;
     color: #777;
     margin-bottom: 20px;
}

.read-more-btn {
     display: inline-block;
     padding: 10px 20px;
     border: 1px solid #333;
     border-radius: 20px;
     text-decoration: none;
     color: #333;
     font-size: 14px;
     transition: background-color 0.3s ease, color 0.3s ease;
}

.read-more-btn:hover {
     background-color: #333;
     color: #fff;
}

.section__card-category {
     margin-top: 70px;
}



.category-card {
     background-color: #fff;
     border-radius: 10px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
     padding: 20px;
     text-align: center;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     cursor: pointer;
}

.category-card:hover {
     transform: translateY(-5px);
     box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.category-icon {
     font-size: 40px;
     color: #cccbcb;
     margin-bottom: 15px;
}

.category-card h3 {
     font-size: 16px;
     color: #333;
     font-weight: bolder;
     margin-bottom: 10px;
}

.category-card p {
     font-size: 14px;
     color: #777;
}

/*! Footer  */
footer {
     padding: 20px 0;
}

.footer__content-header {
     display: flex;
     justify-content: space-around;
}

.footer__list-col h4 {
     padding: 10px 0;
     color: #fff;
}

.footer__list-item {
     padding: 10px 0;
}

.footer__list-link {
     color: #666;
     font-size: 16px;
     transition: all .4s ease-in-out;
}

.footer__list-link:hover {
     color: #fff;
}

/*? Vakansiya Page  */

/*! Filter  */
.filter__content {
     display: flex;
     gap: 40px;
}

.filter__content-input {
     width: 30%;
     height: 100vh;
}

.input_header {
     color: var(--color-dark);
     font-family: Poppins;
     font-size: 38px;
     font-weight: 600;
     line-height: 68px;
}

.filter__input-categories {
     padding-top: 30px;
}

.filter__categories-header {
     display: flex;
     justify-content: space-between;
}

.filter_categories-text {
     font-family: "Roboto", sans-serif;
     color: rgb(0, 0, 0);
     font-family: Poppins;
     font-size: 18px;
     font-weight: 600;
     line-height: 36px;
}


.filter_form {
     display: flex;
     flex-direction: column;
     padding: 10px 20px;
}

.label {
     font-family: "Roboto", sans-serif;
     display: inline-flex;
     align-items: center;
     cursor: pointer;
     margin-right: 10px;
     margin-bottom: 10px;
     position: relative;
}

.radio__input {
     display: none;
}

.bg_delete {
     width: 10px;
     height: 5px;
     background-color: white;
     border-radius: 50%;
     transform: rotate(30deg);
     position: absolute;
     left: 18px;
     top: 10px;
}

.radio__radio {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     margin-right: 10px;
     box-sizing: border-box;
     padding: 10px;
     border: 3px solid #666;
}

.radio__radio::after {
     content: "✓";
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 17px;
     font-weight: bold;
     color: orangered;
     border-radius: 50%;
     transform: scale(0);
     transition: transform .35s;
}

.radio__input:checked+.radio__radio::after {
     transform: scale(1);
}

.main__filter {
     margin-top: 8%;
}

.main__content-filtir {
     display: flex;
     gap: 40px;
}

.main__filter .section__card-item {
     width: 100%;
}

.filter__content-input .filter__input-categories .main__content-search {
     width: auto;
     border: 1px solid #d8d5d5;
     border-radius: 7px;
}

/*? Şirkətlər page  */
.main__content-company-title {
     text-align: center;
     padding: 40px 0;
     color: #666;
     font-size: 36px;
}

.section__card-list-company {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 30px;
}

.section__card-item-company {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     border: 2px solid #dbe8e5;
     width: 250px;
     padding: 0px;
     padding-top: 10px;
     padding-bottom: 0;
     margin-top: 50px;
     transition: all .2s ease-in-out;
}

.section__card-item-company:hover {
     background-color: #ecf0f1;
}

.company-description {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.company-description>span {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100px;
     height: 100px;
     border-radius: 50%;
     padding: 10px;
     margin-bottom: 20px;
     background-color: #e3e2e2;
     font-size: 60px;
     color: #1d96a1;
}

.company-description>h4 {
     font-size: 23px;
     color: #000;
     padding-bottom: 7px;
}

.company-description>h5 {
     font-size: 20px;
     color: #000;
}

.company-footer {
     display: flex;
     justify-content: space-between;
     width: 100%;
     margin-top: 70px;
     background-color: #ecf0f1;
}

.company-footer>a {
     color: #333;
     width: 50%;
     padding: 10px;
     font-weight: 600;
     transition: all .4s ease-in-out;
     border-radius: 5px;
}

.company-footer>a:hover {
     background-color: #d8d5d5;
}

.company-footer>a:first-child {
     border-right: 1px solid #797676;
}

/*? Vakansiya Details */

.main__details-company-details {
     display: flex;
     align-items: center;
     background-color: #ede9e9;
     padding-left: 14%;
     padding-top: 40px;
     gap: 40px;
     padding-bottom: 40px;
}

.company__details-img {
     padding: 30px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 6px, rgba(0, 0, 0, 0.23) 6px 3px 6px;
}

.company__details-img>i {
     font-size: 40px;
}

.company__details-description>h1 {
     font-size: 26px;
     font-weight: 400;
}

.company__details-description>a {
     display: block;
     padding: 10px 0;
     color: #797676;
     font-weight: 600;
}

.company__details-description>p {
     font-size: 16px;
     color: #666;
}

.work-details-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 30px;
     padding: 30px 0;
}

.work-details-item {
     display: flex;
     text-align: center;
     width: 250px;
     flex-direction: column;
     align-items: center;
     cursor: pointer;
     padding: 20px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 1px, rgba(0, 0, 0, 0.23) 0px 3px 2px;
     border-radius: 20px;
}

.work-details-item>p {
     color: #3d9da5;
     padding-bottom: 30px;
     font-size: 40px;
}

.work-details-footer>span {
     color: #666;
     font-size: 18px;
     padding-bottom: 7px;
     display: block;
}

.work-details-footer>p {
     color: #000;
     font-size: 16px;
     font-weight: 700;
}

.work__detail-content {
     width: 70%;

}

.work__detail-content-title {
     text-align: center;
     margin: 30px 0;
     color: #333;
     font-weight: 500;
}

.work__detail-content-description {
     font-size: 16px;
     line-height: 27px;
     margin-bottom: 10px;
}

.work__detail-content-list {
     padding: 0 20px;
     padding: 9%;
}

.work__detail-content-item {
     color: #666;
     list-style-type: disc;
     padding: 4px 0;
}

.work__detail-contact {
     padding-top: 30px;
     padding-left: 15px;
}

.work__detail-contact p {
     font-size: 16px;
     line-height: 27px;
     color: #333;
}

.work__detail-btn {
     display: inline-flex;
     align-items: center;
     gap: 7px;
     color: #fffdfd;
     font-weight: 700;
     padding: 10px 20px;
     background-color: #3d9da5;
     border-radius: 7px;
     margin-top: 20px;
}

.company-details-sidebar {
     width: 100%;
}

.company__details-content {
     align-items: flex-start;
     justify-content: stretch;
     gap: 30px;
}

.company__details-content-sidebar {
     background-color: #666;
}

/*? Company Details page */

.section__card-item.company-detail-item {
     width: 100%;
}

.company-vacancie-header {
     background-color: #ede9e9;
     padding: 17px;
     display: flex;
     align-items: center;
     gap: 10px;
     border-radius: 10px 10px 0 0;
}

.company-vacancie-header>span {
     color: #1d96a1;
     padding-left: 20px;
}

.company-vacancie-item {
     background-color: #fefbfb;
     padding: 20px;
     cursor: pointer;
     transition: all .3s ease-in-out;
     border-left: 3px solid transparent;
}

.company-vacancie-item:hover {
     background-color: #ede9e9;
     padding: 20px;
     cursor: pointer;
     border-left: 3px solid #0f0202;
}

.company-vacancie-item>a>h3 {
     color: #000;
     font-weight: 400;
     font-size: 18px;
     padding: 10px 0;
}

.company-vacancie-item>a>p {
     color: rgb(7, 189, 189);
     font-weight: 400;
     font-size: 16px;
     padding: 10px 0;
}

.company-vacancie-header>h3 {
     font-size: 18px;
     font-weight: 400;
}

.company-details-list>li {
     list-style-type: none;
     margin-top: 10px;
}

.company__detail-header>a.active-company {
     background-color: #1d96a1;
     color: #d8d5d5;
     transition: all .2s ease-in-out;
}

.company__detail-header>a.active-company:hover {
     background-color: #05818d;
}


.company__detail-header {
     display: flex;
     gap: 10px;
     margin: 20px 0;
}

.company__detail-header>a {
     padding: 10px;
     font-size: 14px;
     color: #575656;
     background-color: #d8d5d5;
     border-radius: 5px;
}

/*? Jobseekers Page */
.profil__body {
     background-color: whitesmoke;
}

.profil__card-container {
     display: flex;
     flex-wrap: wrap;
}

.profil__card-item {
     margin-right: 30px;
     margin-bottom: 30px;
     background-color: #fff;
     border-radius: 10px;
     width: 303px;
     padding: 40px 30px;
     padding-top: 30px;
}


.profil__card-item-heart {
     display: flex;
     justify-content: flex-end;
}

.profil__card-item-heart>span {
     font-size: 18px;
     cursor: pointer;
     color: #666;
}

.profil__card-item>.profil__card-item-img {
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 70px;
     height: 70px;
     background-color: #ebe0e0;
     border-radius: 50%;
}

.profil__card-item-name,
.profil__card-item-work {
     text-align: center;
}

.profil__card-item-name>h4 {
     font-size: 19px;
     padding-top: 10px;
     color: #000;
}

.profil__card-item-work>h2 {
     font-size: 15px;
     color: #666;
     padding: 10px 0;
}

.profil__card-item-skill {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
}

.profil__card-item-skill>h3 {
     width: max-content;
     font-size: 14px;
     background-color: rgba(49, 121, 90, .1);
     padding: 4px 14px;
     border-radius: 10px;
     color: rgba(0, 0, 0, .55);
}

.profil__card-item-price {
     padding: 10px 0;
}

.profil__card-item-price>span {
     color: #000;
}

.profil__card-item-price>.profil__card-item-salary,
.profil__card-item-location,
h5 {
     color: rgba(36, 64, 52, .6);
     text-align: center;
     padding: 5px 0;
     font-size: 15px;
}

.profil__card-item-price>.profil__card-item-salary,
.profil__card-item-location,
span {
     color: #000;
     font-weight: 500;
}

.profil__card-item-price,
.profil__card-item-btn {
     display: flex;
     gap: 20px;
     align-items: center;
     justify-content: space-around;
}

.profil__card-item-btn>a {
     padding: 12px 13px;
     font-size: 15px;
     text-align: center;
     border-radius: 20px;
     color: #000;
     border: 1px solid #000;
     transition: all .3s ease-in-out;
}

.profil__card-item-btn>a:first-of-type {
     background-color: #31795a;
     border: none;
     color: #fff;
}

.profil__card-item-btn>a:first-of-type:hover {
     border: none;
     background-color: #00bf58;
}

.profil__card-item-btn>a:last-of-type:hover {
     border: none;
     background-color: #00bf58;
     color: #fff;
}

/*? Job Seeker Page */
.main__details-jobseeker-details {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-right: 14%;
     background-color: #ede9e9;
}

.jobseeker-par {
     padding-top: 20px;
}

.job__seeker-pdf>a {
     color: #fff;
     background-color: #31795a;
     padding: 10px;
     border-radius: 7px;
}



.job__seeker-content {
     display: flex;
}

.main__right {
     width: 35%;
}

.main__left {
     width: 65%;
     background: #f9f9fb;
     padding: 30px;
     border-radius: 15px;
     box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
     border: 1px solid #e0e0e0;
}

.main__left:hover {
     box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.profile-info {
     display: flex;
     flex-direction: column;
     gap: 25px;
}

.profile-header {
     display: flex;
     align-items: center;
     gap: 20px;
}

.profile-photo {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     border: 4px solid #007bff;
     object-fit: cover;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-photo:hover {
     transform: scale(1.05);
     box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.profile-text h2 {
     font-size: 24px;
     color: #333;
     margin: 0;
     font-weight: 600;
     text-transform: capitalize;
}

.profile-position {
     font-size: 15px;
     color: #555;
     margin-top: 5px;
     font-style: italic;
}

.profile-description {
     font-size: 15px;
     line-height: 1.6;
     color: #555;
     margin-top: 10px;
     padding-left: 10px;
     border-left: 3px solid #007bff;
     background: #f1f5ff;
     padding: 12px;
     border-radius: 8px;
}

.skills-list {
     list-style-type: none;
     padding-left: 0;
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
}

.skills-list li {
     background: #f2f2f2;
     color: #000;
     padding: 8px 14px;
     border-radius: 50px;
     font-size: 14px;
     box-shadow: 0 2px 6px rgba(0, 123, 255, 0.2);
     transition: background-color 0.3s ease;
}

.skills-list li:hover {
     background-color: #797676;
     color: #fff;
}

.experience-list {
     list-style: none;
     padding: 0;
     margin-top: 20px;
     display: flex;
     flex-direction: column;
     gap: 12px;
}

.experience-list li {
     background-color: #f8f9fa;
     padding: 12px 16px;
     border: 1px solid #ddd;
     border-left: 4px solid #6c757d;
     border-radius: 6px;
     display: flex;
     justify-content: space-between;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.experience-list li:hover {
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.experience-details {
     display: flex;
     flex-direction: column;
}

.company-name {
     font-weight: 600;
     font-size: 14px;
     color: #343a40;
}

.position-name {
     font-size: 13px;
     color: #495057;
}

.experience-date {
     font-size: 13px;
     color: #6c757d;
     display: flex;
     align-items: center;
}

.start-date,
.end-date {
     margin: 0 2px;
}

.language-list {
     list-style: none;
     padding: 0;
     margin-top: 20px;
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.language-list li {
     display: flex;
     align-items: center;
     background-color: #f9f9f9;
     padding: 10px 14px;
     border: 1px solid #e0e0e0;
     border-radius: 5px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
     font-size: 14px;
     color: #333;
}

.language-list li:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.language-name {
     font-weight: 600;
     color: #444;
}

.language-level {
     margin-left: 8px;
     color: #000;
     font-weight: 500;
}

.education-list {
     list-style-type: none;
     padding-left: 0;
     display: flex;
     flex-direction: column;
     gap: 10px;
     margin-top: 15px;
}

.education-list li {
     background: #f5f7fa;
     color: #333;
     padding: 12px 15px;
     border-radius: 8px;
     font-size: 14px;
     box-shadow: 0 2px 6px #0000000d;
     position: relative;
     padding-left: 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border: 1px solid #e0e0e0;
}

.education-list li:hover {
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.education-list li::before {
     content: "\f19d";
     font-family: "Font Awesome 5 Free";
     font-weight: 900;
     position: absolute;
     left: 10px;
     color: #007bff;
}

.education-title {
     flex: 1;
     font-weight: 500;
}

.education-years {
     font-size: 13px;
     font-weight: bold;
     background: #d9e8ff;
     padding: 4px 10px;
     border-radius: 4px;
     margin-left: 10px;
     color: #007bff;
}

.current-education .education-years {
     background: #ffefc3;
     color: #ff9800;
}

.current-education .education-years::after {
     font-size: 12px;
     font-weight: normal;
     color: #ff9800;
}

.user-info {
     background-color: #f5f5f5;
     padding: 20px;
     border-radius: 8px;
     border: 1px solid #ddd;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     margin-top: 20px;
     width: 100%;
}

.user-info h3 {
     font-size: 18px;
     margin-bottom: 15px;
     color: #343a40;
     font-weight: 600;
     border-bottom: 2px solid #e0e0e0;
     padding-bottom: 10px;
}

.info-item {
     display: flex;
     justify-content: space-between;
     padding: 8px 0;
     border-bottom: 1px solid #e0e0e0;
}

.info-label {
     font-weight: 500;
     color: #6c757d;
     font-size: 14px;
}

.info-value {
     color: #343a40;
     font-weight: 500;
     font-size: 14px;
}

.cv-button {
     display: flex;
     justify-content: center;
     margin-top: 20px;
}

.cv-button a {
     text-decoration: none;
     background-color: #6c757d;
     color: #fff;
     padding: 10px 20px;
     border-radius: 5px;
     transition: background-color 0.3s ease;
     font-size: 14px;
}

.cv-button a:hover {
     background-color: #495057;
}

/*? BLOG Page  */
.blog-layout-content>h4 {
     font-size: 24px;
     margin-top: 70px;
}

.blog-layout {
     display: flex;
     justify-content: space-between;
     padding: 40px;
     padding-top: 10px;
     gap: 20px;
}

.large-blog-card {
     cursor: pointer;
     flex: 2;
     background-color: #fff;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.large-blog-image {
     width: 100%;
     height: 300px;
     object-fit: cover;
     border-radius: 10px;
     margin-bottom: 15px;
}

.large-blog-card h2 {
     font-size: 22px;
     color: #333;
     margin-bottom: 10px;
}

.large-blog-card p {
     font-size: 16px;
     color: #777;
}

.small-cards {
     cursor: pointer;
     flex: 1;
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.small-card {
     width: 400px;
     height: 200px;
     display: flex;
     align-items: center;
     background-color: #fff;
     border-radius: 10px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
     overflow: hidden;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.small-card:hover {
     transform: translateY(-5px);
     box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.small-card-image {
     margin-left: 20px;
     width: 100px;
     height: 100px;
     object-fit: cover;
}

.small-card-content {
     padding: 15px;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.small-card h3 {
     font-size: 18px;
     color: #333;
     margin-bottom: 5px;
}

.small-card p {
     font-size: 14px;
     color: #777;
}



/*? Startap Page */

.startups {
     margin-top: 50px;
     padding: 60px 20px;
}

.startup-cards {
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding: 40px;
}

.card {
     display: flex;
     background-color: #fff;
     padding: 15px;
     border-radius: 10px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
     align-items: center;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
     transform: translateY(-5px);
     box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.company-logo {
     width: 50px;
     height: 50px;
     margin-right: 20px;
     border-radius: 50%;
     object-fit: cover;
}

.card-content {
     flex-grow: 1;
}

.card-content h3 {
     font-size: 18px;
     margin-bottom: 10px;
     color: #333;
}

.card-content p {
     font-size: 14px;
     color: #666;
     margin-bottom: 10px;
}

.card-details {
     display: flex;
     gap: 15px;
     font-size: 12px;
     color: #999;
     margin-bottom: 10px;
}

.details-button {
     display: inline-block;
     padding: 8px 12px;
     background-color: #007bff;
     color: #fff;
     text-decoration: none;
     border-radius: 5px;
     font-size: 14px;
     transition: background-color 0.3s ease;
}

.details-button:hover {
     background-color: #0056b3;
}

.main__content-form form.main__content-form-startup {
     justify-content: space-evenly;
}

.main__content-form form>.form-checbox.startup-checbox {
     width: 500px;
}

/* ? About PAGE */
.main-title {
     text-align: center;
     color: #333;
     margin-bottom: 20px;
}

.company-image {
     width: 100%;
     height: auto;
     border-radius: 8px;
     margin-bottom: 20px;
}

.sub-title {
     color: #555;
     margin-top: 20px;
     border-bottom: 2px solid #eaeaea;
     padding-bottom: 10px;
}

.description {
     color: #666;
     margin: 10px 0;
}

.service-list,
.reason-list {
     list-style-type: none;
     padding: 0;
}

.service-item,
.reason-item {
     background: #f9f9f9;
     margin: 10px 0;
     padding: 15px;
     border-radius: 5px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.email-link {
     color: #007bff;
     text-decoration: none;
}

.email-link:hover {
     text-decoration: underline;
}